@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>    
</div>

<h3>EU-Captcha</h3>
<h4>Alphanumeric CAPTCHA with audio transcription</h4>

@await Component.InvokeAsync("Captcha", new { captcha = Model.Captcha })