@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>    
</div>

<h2>EU Captcha</h2>
<h3>Alphanumeric CAPTCHA with audio transcription</h3>

@await Component.InvokeAsync("Captcha", new { captcha = Model.Captcha })