 
@using dsf_eu_captcha.Models
@model CaptchaResponse

@if (@Model is null)
{
	<div class="alert alert-danger" role="alert">
		Invalid Captcha. Please try again: <a href="/">Home</a>
	</div>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <img src="data:image/png;base64,@Model.captchaImg" width="300" alt="Captcha Image" id="captchaImg" captchaId="@Model.captchaId">        
            <br/>
            <br/>
            <a href="/">Reload Captcha</a>
            <br/>
            <br/>
            <audio controls autostart="1" src="data:audio/mp3;base64,@Model.audioCaptcha" id="audioCaptcha" controls="controls" autobuffer="autobuffer"></audio>
        </div>
    </div>
    <hr>
    <div class="row">
        <form method="post">
            <div class="col-md-4">                
                <input title="Captcha input for solution" type="text" class="form-control" id="captchaAnswer" name="captchaAnswer" placeholder="Captcha Text">
            </div>
            <br/>
            <div class="col-md-4">                
                <button title="Submit the Captcha" class="btn btn-primary btn-lg" id="captchaSubmit">Submit</button>
            </div>
        </form>        
    </div>
    <br>

}